{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static '/images/circle-favicon.ico' %}" type="image/x-icon">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap" rel="stylesheet">

    <title>Sagar Mohanty</title>
</head>
<body>
    
    <!-- Navbar --> 
    <div id="navbar" class="nav small-nav">
        
        <div class="nav-header">
            <a class="nav-logo" href="/"></a>
            <div class="d-toggle" >
                <i class="fa fa-bars d-none" id="btn-toggle" onclick="navToggle()"></i>
            </div>
        </div>

        <div class="nav-links">
            <a class="navlink" href="/#" onclick="navToggle()"> <button class="nav-btn">Home</button></a>
            <a class="navlink" href="/#about"><button class="nav-btn" onclick="navToggle()">About</button></a>
            <a class="navlink" href="/#experience"><button class="nav-btn" onclick="navToggle()">Experience</button></a>
            <a class="navlink" href="/#projects"><button class="nav-btn" onclick="navToggle()">Projects</button></a>
            <!-- <a href="#blogs">Blogs</a> -->
            <a class="navlink" href="/#contact"><button class="nav-btn" onclick="navToggle()">Contact</button></a>

            
            <a class="" href="{% static '/resume.pdf' %}" target="_blank"><button class="nav-btn resume-link" onclick="navToggle()">Resume</button></a>
        </div>

    </div>

    <!-- Home -->
    <div id="home">
        <img class="hero-img" src='{% static "/images/hero.jpeg" %}' alt="">
        <div style="text-align: left;">
            <p>Hi I'm </p>
            <h1 style="color: var(--chalk1);"> SAGAR MOHANTY</h1>
            <!-- <h1><code> < Web Developer /></code></h1> -->
        </div>

        <a href="#about"><img src="{% static '/images/down.png' %}" alt=""></a>
    </div>

    <!-- About -->
    <div id="about">
        <div class="glass-container">
            <div class="container__text">
                <h1 style="color: var(--chalk1);margin: auto;width: fit-content;" class="field__heading">
                    About Me
                </h1>
                <p style="color: var(--chalk1);" class="about__para">Hello! My name is Sagar Mohanty, Under Graduate b-tech student and I love creating full stack web applications that either solves somekind of problem or helps me learning new skills.</p>
                <p style="color: var(--chalk1);" class="about__para">I started my journey as a freelance web developer and worked on some client projects. Currently I work as a web developer intern in <a href="https://www.zebu.ai/" target="_blank" class="black-link">Zebu Intelligent Systems.</a></p>
                
                <div>
                    <h3>Here are some of the technogies I usually work on:</h3>
                    <div class="about__tech">
                        <div class="tech__left">
                            <ul>
                                <li>&#9658; Python</li>
                                <li>&#9658; Django</li>
                                <li>&#9658; JavaScript</li>
                                <li>&#9658; NodeJS</li>
                            </ul>
                        </div>
                        <ul>
                            <li>&#9658; HTML5</li>
                            <li>&#9658; CSS3</li>
                            <li>&#9658; Bootstap</li>
                            <li>&#9658; ReactJS</li>
                        </ul>
                    </div>
                </div>
                <p style="color: var(--chalk1);" class="about__para">In my free time I also do some problem solving on platforms like <a href="https://www.hackerrank.com/sagarmohanty2k00" target="_blank" class="black-link">Hackerrank</a>, <a href="https://www.codechef.com/users/sagar2k" target="_blank" class="black-link">CodeChef</a> and <a href="https://leetcode.com/sagar__mohanty/" target="_blank" class="black-link">LeetCode</a>.</p>
            </div>
            <div class="container__pic">
                <img src=""  alt="" class="container__pic__hero">
            </div>
        </div>
    </div>

    <!-- Experience -->
    <div id="experience">
        <h1 style="color: var(--chalk1);margin: auto;width: fit-content; margin-top: 100px;">Work Experience</h1>

        <!-- <div class="bar"></div> -->

        <div id="1" class="box-container__small small_height_card">
            <button id="btn1" class="top-right" onclick="expandCard(1)">+</button>
            <div class="green__ball"></div>
            <div class="">
                <div class="experience__display">
                    <h3>WEB DEVELOPER INTERN</h3>
                    <p>At Zebu Intelligent Systems</p>
                    <p>March - 2021 to PRESENT</p>
                </div>
                <div class="experience__cover">
                    <p>Some notable works I have done:</p>
                    <ul>
                        <li>&#9658; Built the entire backend of <a class="black-link" href="https://www.zebu.ai">zebu.ai</a> from scratch with django.</li>
                    </ul>
                </div>
                
            </div>
        </div>

    </div>

    <!-- Projects -->
    <div id="projects">
        
        <h1 style="width: fit-content;margin: auto;">Projects</h1>

        <div class="project_cards">
        
            <div class="right__text">
                <a href="http://schoolquiz243.herokuapp.com" target="_blank"><img class="project__image" src="{% static '/images/Project_1.png' %}" alt="#"></a>
                <div class="project_text__right">
                    <h3 style="margin-bottom: 10px;">SCHOOL QUIZ</h3>
    
                    <div class="techs">
                        <span class="tech">Django</span> <span  class="tech">HTML</span> <span  class="tech">CSS</span> <span  class="tech">SQLITE3</span>
                    </div>
    
                    <div class="project__description">
                        <p>
                            An online examination system, which helps students to appear the quiz provided in the site. Students can also view their results after the test and also the leadeboard.
                        </p>
                    </div>
                    <div class="project__links">
                        <a style="margin-right: 10px;" href=""><i class="fa fa-github"></i>SOURCE CODE</a>
                        <a href="http://schoolquiz243.herokuapp.com" target="_blank">VIEW LIVE</a>
                    </div>
                </div>
            </div>
    
            <div class="right__text">
                <a href="http://e-library243.herokuapp.com" target="_blank"><img class="project__image" src="{% static '/images/Project_1.png' %}" alt="#"></a>
                <div class="project_text__right">
                    <h3 style="margin-bottom: 10px;">SCHOOL QUIZ</h3>
    
                    <div class="techs">
                        <span class="tech">Django</span> <span  class="tech">HTML</span> <span  class="tech">CSS</span> <span  class="tech">SQLITE3</span>
                    </div>
    
                    <div class="project__description">
                        <p>
                            An online examination system, which helps students to appear the quiz provided in the site. Students can also view their results after the test and also the leadeboard.
                        </p>
                    </div>
                    <div class="project__links">
                        <a style="margin-right: 10px;" href=""><i class="fa fa-github"></i>SOURCE CODE</a>
                        <a href="http://schoolquiz243.herokuapp.com" target="_blank">VIEW LIVE</a>
                    </div>
                </div>
            </div>
        </div>

        <a href="/#projects" class="btn-link">All Projects <i class="fa fa-arrow-right" aria-hidden="true"></i></i> </a>

    </div>

    <!-- Blogs -->
    <!-- <div id="blogs"></div> -->

    <!-- Contact -->
    <div id="contact">
        <div class="glass-container d-flex_col">
            
            <div class="contact__text">
                <h1>Get In Touch</h1>
                <p>
                    Hello! if you have anything to say you can either contact me through my social media handles or you can drop a message here.
                </p>
            </div>

            <div>

                <div class="contact__container">
                    <form class="contact__form" action='/send/message/' method="POST">
                        {% csrf_token %}
                        <input name="name" placeholder="name" type="text" id="name">
                        <input name="email" placeholder="email" type="email" id="email">
                        <input name="subject" placeholder="subject" type="text" id="subject">
                        <textarea name="message" placeholder="message" name="" id="" cols="30" rows="10"></textarea>
        
                        <button class="contact__send" onclick="validate()">
                            SEND
                        </button>
                    </form>
                </div>
            </div>

            <div id="social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-github"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-instagram"></i>
            </div>
        </div>
    </div>

    <!-- Social Links -->
    <!-- <div id="social">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-instagram"></i>
        <div class="virtcaline"></div>
    </div> -->
    <script src="{% static '/js/app.js' %}"></script>
</body>
</html>