*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}
:root{
    /* --var1: rgb(255, 0, 0); */
    --var1: rgb(12, 12, 12);
    /* --var1: rgb(0, 255, 136); */
    --var2: rgba(0, 162, 255, 0.835);

    --chalk1: rgb(28, 28, 28);
    --chalk2: rgb(68, 68, 68);
    --chalk3: rgb(108, 108, 108);

    --full-height: cacl(100vh - 60px);

    /* --background-color: #23008b; */
    /* --background-color: #f1f5f8; */
    --background-color: #dae2ec;
    /* --background-color: #d4f0f0; */
    /* --background-color: rgb(255, 255, 255); */
    /* --background-color: rgb(14, 14, 31); */
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    background-color: var(--var2);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--var2);
}

/* Universal */
a {
    text-decoration: none;
}
ul,
ol{
    list-style: none;
}
/* Utility Classes */
.glass-container{
    margin: auto;
    background-color: #fff;
    background-color: white;
    border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    /* position: relative; */
    overflow: hidden;
    width: 66vw;
    max-width: 1024px;
    min-height: 76vh;
    height: fit-content;

    padding: 3vh 3vw;
}

.box-container__small {
    margin: auto;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 60vw;
    max-width: 1024px;

    height: max-content;
}

.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.d-flex_col {
    display: flex;
    flex-direction: column;
}

/* Navbar */
.nav {
    position: fixed;
    width: 100%;
    max-width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */

    background-color: var(--background-color);
    box-shadow: 0 14px 28px rgba(255,255,255,0.25), 
          0 10px 10px rgba(255,255,255,0.22);

    z-index: 5;
}

.small-nav {
    height: 80px;
    overflow-y: hidden;
}

.expanded-nav {
    height: fit-content;
}

.nav-btn {
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.nav-btn:hover {
    color: var(--var2);
}

.navlink,
.nav-logo,
.resume-link{
    color: var(--chalk2);
    text-decoration: none;
    cursor: pointer;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-logo{
    height: 50px;
    width: 50px;
    background: url(../images/circle-logo.png);
    background-position: center center;
    background-size: cover;
    margin: 15px;
    border-radius: 50%;
}

.navlink{
    margin: 10px;
}
.navlink:hover{
    color: var(--var2);
    transition: .4s;
}

.resume-link{
    margin: 10px;
    margin-right: 30px;

    border: 1px solid var(--var1);
    padding: 5px 10px;
    border-radius: 4px;
}
.resume-link:hover{
    background-color: var(--var2);
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

i.fa-bars {
    color: var(--var1);
    font-size: 24px;
    margin-right: 5px;
}




/* Home Section */
#home{
    max-width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

    padding: 100px;

    text-align: center;
    color: var(--chalk2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: x-large;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
}

#home h1{
    font-size: 5rem;
    margin: 10px;
}
#home p{
    font-size: 28px;
    margin: 5px;
}

#home img{
    height: 50vw;
    max-height: 300px;
    width: 50vw;
    max-width: 300px;

    border-radius: 50%;
}
.hero-img{
    background-color: var(--background-color);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
}

#home a{

    text-decoration: none;
    color: white;
}

#home a img{
    height: 8vw;
    max-height: 60px;
    width: 8vw;
    max-width: 60px;
}



/* About Section */
#about{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);

}
.glass-container{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.container__text{
    flex: 0.6;
}
.container__pic{
    flex: 0.4;
    display: flex;
    justify-content: space-around;
    align-items: top;
}
.black-link {
    color: black;
    font-weight: bold;
}
.black-link:hover{
    color: var(--var2);
}
.about__para{
    margin: 5% 0;
    font-size: 20px;
}
.about__tech{
    font-size: 20px;
    width: 50%;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.container__pic__hero{
    height: 300px;
    width: 300px;

    margin-top: 80px;
    z-index: 2;
}
.apart_border {

    margin-top: 150px;
    margin-left: -300px;

    height: 300px;
    width: 300px;

    border: 4px solid var(--var2);
}



/* Experience */
#experience {
    height: max-content;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    background-color: var(--background-color);

    padding-top: 100px;
}

.green__ball{
    max-width: 25px;
    width: 10vw;
    max-height: 25px;
    height: 10vw;
    background: rgb(2, 255, 2);
    border: 2px solid var(--var1);
    border-radius: 12px;
    margin-right: 5px;
}
.red__ball{
    width: 25px;
    height: 25px;
    background: rgb(255, 2, 2);
    border: 2px solid var(--var1);
    border-radius: 12px;
    margin-right: 5px;
}
.box-container__small{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 0;
}
.box-container__small:hover{
    background: var(--var2);
    transition: 0.4s;
    cursor: pointer;
}
.experience__display{
    height: 100px;
}
.experience__cover{
    margin-top: 20px;
}
.top-right{
    position: relative;
    top: 0;
    left: 98%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px
}
.small_height_card {
    height: 100px;
}

/* Projects */
#projects {
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    background-color: var(--background-color);

    padding-top: 100px;
}

.techs {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.tech {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 16px;
    background-color: rgba(250, 247, 84, 0.849);
    margin: 5px;
}

.project_cards {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.btn-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    color: black;
    padding: 7px 15px;
    width: fit-content;
    background-color: goldenrod;

    margin: auto;
    margin-top: 50px;
}

.fa-arrow-right {
    margin-left: 20px;
}

/* Blogs */
#blogs{
    max-width: 100vw;
    min-height: 75vh;
    background-color: var(--background-color);

    padding: 100px;

    text-align: center;
    color: var(--chalk2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.blogs {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    text-align: left;
}

.blog {
    width: 100%;
    text-align: left;

    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 40px;
}

.blog a {
    font-size: 24px;
    width: fit-content;
    color: black;
}
.blog a:hover {
    background-color: var(--var2);
    transition: 0.4s;
}

.blog p {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 20px;
}

/* Contact */
#contact {
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 100px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__text {
    text-align: center;
    width: 60%;
    margin: auto;
}

.contact__container {
    height: fit-content;
    width: 100%;
    flex: 0.6;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__container p {
    margin: 10px auto;
    line-height: 1.6;

    font-size: 18px;
    margin: 40px;
}

.contact__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    width: 80%;
    max-width: 800px;
    height: 40px;
    margin: 10px auto;

    padding: 10px;
    font-size: 20px;

    text-align: center;
}

textarea {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    font-size: 20px;

    text-align: center;
}

.contact__send {
    border: none;
    background: none;
    outline: none;

    margin-top: 50px;
    height: 60px;
    width: 200px;
    border: 2px solid var(--var2);
    border-radius: 24px;

    margin-left: auto;
    margin-right: auto;

    font-size: 24px;
}

.contact__send:hover {
    background: var(--var2);
    cursor: pointer;
}

.contact__virtcaline {
    width: 2px;
    height: 300px;
    background-color: black;
}

.contact__social {
    flex: 0.3;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__social a {
    color: black;
}

.contact__social a:hover {
    color: var(--var2);
}

/* Social Links */
.social{
    font-size: 24px;
    color: rgb(42, 42, 42);
    height: 200px;
    width: 100%;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
}

.small {
    font-size: 16px;
}

.fa-facebook,
.fa-github,
.fa-linkedin,
.fa-instagram {
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
}

.fa-facebook:hover{
    color: blue;
}
.fa-github:hover{
    color: var(--var1);
}
.fa-linkedin:hover{
    color: blue;
}
.fa-instagram:hover {
    color: red;
}

/* Media Queries */
@media screen and (min-width: 721px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        /* height: 60px; */
        background-color: var(--background-color);
    }
    .d-toggle{
      display: none;
    }
    .nav-links {
        flex-direction: row;
    }
    .nav-header {
        width: 100%;
        max-width: 100vw;
        display: flex;
        align-items: center;

        margin-left: 20px;
        text-align: left;
    }
}

@media screen and (min-width: 1281px) {
    /* Projects */
    .right__text{
        height: fit-content;
        width: fit-content;
        max-height: 512px;
    
        display: flex;
        flex-direction: row;
        margin: auto;
    
        margin-top: 100px;
    }
    
    .project__image {
        height: 360px;
        width: 640px;
    
        background: black;
    }
    .project__image:hover {
        z-index: 3;
        transition: 0.4s;
        cursor: pointer;
    }
    .project__description{
        background: var(--var2);
        padding: 20px;
    
        height: 140px;
        margin: 20px auto;
    }
    .project_text__right {
        height: 200px;
        width: 640px;
    
        
        z-index: 2;
    
        margin-top: 60px;
        margin-left: -200px;
    
        padding: 20px;
        text-align: right;
    }
    
    .left__text{
        height: fit-content;
        width: fit-content;
        max-height: 512px;
    
        display: flex;
        flex-direction: row-reverse;
        margin: auto;
        margin-top: 100px;
    }
    .project_text__left {
        height: 200px;
        width: 640px;
    
        z-index: 2;
    
        margin-top: 120px;
        margin-right: -200px;
    
        padding: 20px;
    
        text-align: left;
    }

    .techs {
        margin-left: auto;
    }
}



@media screen and (max-width: 1280px) {
    h1,h2,
    h3,h4,
    h5,h6,
    p,a,li {
        zoom: .9;
    }
    /* Nav */
    .small-nav {
        height: 70px;
    }

    /* Home */
    #home h1 {
        font-size: 7vw;
        width: 100%;
        margin-left: 10%;
    }

    #home p {
        font-size: 3vw;
        margin-left: 10%;
    }

    /* Anout */
    .glass-container {
        display: flex;
        flex-direction: column;
        height: 75vh;
        padding-bottom: 50px;
    }

    .glass-container img {
        display: none;
    }

    /* Projects */
    .right__text,
    .left__text {
        height: fit-content;
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .project_text__right{
        margin: 0 auto;
        background-color: white;
        text-align: left;
        height: fit-content;
        padding: 20px;
    }
    .project__image {
        width: 100%;
        background: black;
    }
    .project__description{
        padding: 20px;
    }

    .project__links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .project__links a{
        color: black;
        text-decoration: underline;
    }
    .fa {
        margin-right: 10px;
    }

    .techs {
        margin-right: auto;
    }
    
}

@media screen and (max-width: 720px) {
    h1,h2,
    h3,h4,
    h5,h6,
    p,a,li {
        zoom: .8;
    }
    /* Nav */
    .small-nav {
        height: 60px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        width: 100%;
        max-width: 100vw;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        height: fit-content;
        margin-top: 0;
    }
    .resume-link{
        width: 100px;
        text-align: center;
    }
    #btn-toggle {
        color: black;
        margin-right: 20px;
        cursor: pointer;
    }
    .nav-header {
        width: 100%;
        max-width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    /* About Section */
    .glass-container{
        width: 98%;
    }

    /* Experience */
    .box-container__small {
        width: 90%;
    }

    /* Projects */
    .right__text,
    .left__text {
        height: fit-content;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 50px auto 0;
    }


    .about__tech {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
}


@media screen and (max-width: 400px) {
}



